:root {
  --primary-color: #e66465;
  --secondary-color: #9198e5;
  --spacing: 20px;
  --border: 30px;
}

html {
  font-size: 62.5%;
}   

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

img {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  background-color: blanchedalmond;
}

.list__item {
  background-color: orange;
  margin: 10px;
  padding: 10px;
  order: 0;
}

.list__item:nth-child(3) {
  order: 2;
}

.list__item:nth-child(4) {
  order: 1;
}

.icon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}

.image__item {
  width: calc((100% / 3) - var(--spacing));
  margin: 0 0 var(--spacing) var(--spacing);
  border-radius: 10px;
  overflow: hidden;
}

.image__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__list {
  display: flex;
  flex-wrap: wrap;

  margin-top: var(--spacing);
  margin-left: calc(-1 * var(--spacing));

  background-color: cornsilk;
}

.triangle-top {
  display: inline-block;
  margin: 20px auto;
  border: var(--border) solid;
  border-top-color: red;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.triangle-right {
  display: inline-block;
  margin: 20px auto;
  border: var(--border) solid;
  border-top-color: transparent;
  border-right-color: blue;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.triangle-bottom {
  display: inline-block;
  margin: 20px auto;
  border: var(--border) solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: green;
  border-left-color: transparent;
}
.triangle-left {
  display: inline-block;
  margin: 20px auto;
  border: var(--border) solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: pink;
}