:root {
  --primary-color: #e66465;
  --secondary-color: #9198e5
}

html {
  font-size: 62.5%;
}   

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 20px;
}

img {
  width: 100%;
}
  
.container-2 {
  /* width: 100%;
  height: 1000px; */
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://images.unsplash.com/photo-1584219226077-0f78a0de3e5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background: brown
    url("https://images.unsplash.com/photo-1584219226077-0f78a0de3e5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1301&q=80")
    no-repeat center center / cover;
}
.boxed {
  width: 10rem;
  height: 10rem;
  padding: 10px;
  background: black;
  border: 5px solid orangered;
}

.text {
  width: 300px;
  margin: 0 auto;
  font-size: 1.5rem;

  /* hiện thị dấu ... khi nội dung quá dài */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */

  /* hiện thị dấu ... ở hàng thứ 3 khi nội dung quá dài */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wordbreak {
  word-break: break-word;
}

.image {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
  object-position: center;
}

.box {
  width: 20rem;
  height: 30rem;
  margin: 15px;
  padding: 10px;

  border: 0.5rem solid yellow;
  border-radius: 4px;
  
  background-color: #ffa400;

  text-align: center;

  transition: all 2s ease;
}

.box:hover {
  background-color:black;
}

.one-row-ellipsis {
  max-width: 100px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.three-rows-ellipsis {
  max-width: 500px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.avatar {
  width: 40rem;
  height: 40rem;

  border-radius: 50%;

  object-fit: cover;

  background: #178DB7 url("https://images.unsplash.com/photo-1583511655857-d19b40a7a54e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80") no-repeat center center /cover;
}

.img-frame {
  width: 100vw;
  height: 100vh;

  background: #3D3C3F url("https://images.unsplash.com/photo-1477884213360-7e9d7dcc1e48?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") no-repeat center right / cover;
}

.buttons {
  margin: 20px auto;
  text-align: center;
}

.square-corners {
  width: 12rem;
  height: 4rem;

  display: inline-block;
  margin: 20px;
  line-height: 4rem;

  color: white;

  background-color: #5A4BAD;

  cursor: pointer;
}

.rounded-corners {
  border-radius: 0.8rem;
}

.round-corners {
  border-radius: 50%;
}

.span-buttons {
  margin: 20px auto;
  text-align: center;
}

.span-square-corners {
  padding: 1rem 5rem;
  margin: 20px;

  color: white;
  

  background-color: #5A4BAD;

  cursor: pointer;
}

.span-rounded-corners {
  border-radius: 0.8rem;
}

.span-round-corners {
  border-radius: 50%;
}

.span-square-corners:hover {
  color: orange;
  background-color: teal;
}

/* 31 */
.gradient-deg {
  --primary-color: #a19625;
  width: 500px;
  height: 500px;
  margin: 20px auto;
  background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

.title {
  margin-top: 20px;
  display: inline-block;
  
  background-image: linear-gradient(to right, #e66465, #9198e5);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  font-size: 50px;
  font-weight: bold;
}

.two-background {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(to right, rgb(230, 100, 101, 0.7), rgba(145, 152, 229, 0.7)), url("https://images.unsplash.com/photo-1518717758536-85ae29035b6d?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") no-repeat center right / cover;;
}

.shadow {
  width: 100px;
  height: 100px;
  margin: 20px auto;

  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.356);
}

.text-shadow {
  font-size: 50px;
  font-weight: bold;
  text-shadow: -7px -3px 4px rgba(0, 0, 0, 0.4);
}

ul {
  font-size: 40px;
  font-weight: bold;
}

li:first-child {
  color: red;
}

li:last-child {
  color: blue;
}

li:nth-child(2) {
  color: green;
}

li:nth-child(4) {
  color: orange;
}

li:nth-last-child(2) { /* tính từ phần tử cuối, lấy child thứ 2*/
  color: pink
}

li:not(:first-child) { /* tất cả trừ phần tử ...first-child*/
  color: purple;
}

li:nth-child(odd) {
  color: #b26734
}

li:nth-child(even) {
  color: #3eb234
}

li:nth-child(2n + 1) { /* phần tử thứ 2n + 1: 1 3 5... */
  color: #9654d1;
}

.title + .content1 {
  color: greenyellow;
}

.title + .content1 + .content2 {
  color: blueviolet;
}

.title ~ .content2 {
  color: burlywood;
}

a {
  display: block;
}

a[href^="https"] {
  color: green;
}

a[href$="vn"] {
  color: purple;
}

a[href*="abc"] {
  color: orange;
}

div[data-title="value"] {
  color: red;
}

.box:hover {
  background-color:black;
}

.box {
  width: 150px;
  height: 150px;

  transform: scale(2, .5) translateX(100px);
}